.events {
    grid-gap: 16px;

    &__archive {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__archive-title {
        grid-column: span 12;
    }
}

@media screen and(min-width: 768px) {

    .events {
        grid-gap: 32px;

        &__archive {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }

}

@media screen and (min-width:1200px) {
    .events {
        .event-series {
            &__event {
                &:last-of-type {
                    display: block;
                }
            }
        }
    }
}