.site {
    visibility: hidden;
}

@supports (display: grid) {

    .site {
        visibility: visible;
    }

    .upgrade-browser {
        display: none;
    }

    // base styles
    @import "base/_variables.scss";
    @import "base/_base.scss";
    @import "base/_mixins.scss";
    @import "base/_fonts.scss";
    @import "lib/_mq.scss";
    @import "lib/_newsticker.scss";
    @import "lib/_bootstrap-modal.scss";
    @import "base/_type.scss";
    @import "better-base/_better-base.scss";
    @import "better-base/_better-type.scss";
    @import "better-base/_better-grid.scss";

    // layout
    @import "base/_layout.scss";

    // global objects
    // @import "objects/_get-help.scss";
    @import "objects/_modal.scss";
    @import "objects/_line.scss";
    @import "objects/_button.scss";
    @import "objects/_menu.scss";
    @import "objects/_grid.scss";
    @import "objects/_forms.scss";
    @import "objects/_menu.scss";
    @import "objects/_grid.scss";
    @import "objects/_header.scss";
    @import "objects/_burger.scss";
    @import "objects/_cookie-notice.scss";
    @import "objects/_footer.scss";
    @import "objects/_breadcrumbs.scss";

    html :where(.wp-block) {
        max-width: none;
        margin: 0;
        padding: 0;
    }


    .block-editor-post-preview__button-resize {
        display: none;
    }

}