// base styles
@import "base/_variables.scss";
@import "base/_base.scss";
@import "base/_mixins.scss";
@import "base/_fonts.scss";
@import "lib/_mq.scss";
@import "base/_type.scss";
@import "better-base/_better-base.scss";
@import "better-base/_better-type.scss";
@import "better-base/_better-grid.scss";

// layout
@import "base/_layout.scss";

// global objects
@import "objects/_line.scss";
@import "objects/_button.scss";
@import "objects/_modal.scss";
@import "objects/_publication.scss";
@import "objects/_grid.scss";
@import "objects/_grid.scss";


//blocks


html :where(.wp-block) {
    max-width: none;
    margin: 0;
    padding: 0;
    font-family: 'apercu-reg';
    line-height: 1.5;
}

.editor-styles-wrapper .wp-block {
    margin-left: 0;
    margin-right: 0;
}

.block-editor-post-preview__button-resize {
    display: none;
}

.block-editor-inserter__preview-container,
.block-editor-block-switcher__preview {
    display: none;
}

.edit-post-visual-editor__post-title-wrapper {
    text-align: center;

    h1 {
        font-size: 16px;
        font-weight: normal;
        font-family: 'apercu-reg', sans-serif;
        margin-bottom: 80px;

        &:before {
            content: "Page title: ";
            opacity: 0.5;
        }

        //background-color: var(--light-grey);
    }
}

@media screen and (min-width: 1680px) {


    .block-indent,
    .block-indent-true {
        grid-column: 1/12 !important;
    }


}