.events__title {
	font-family: 'fk-screamer';
	font-size:8rem;
	margin-top:20px;
	
}
.event_desc {
	margin-top:30px ;
	margin-bottom:50px ;
}
.event__cards {
	border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .26);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .26);
    max-height:50em;
    margin-bottom:30px;
}
.event__card-body {
	padding:5.5rem;
}

.event__cards__title {
	    font-size: 3em;
	    padding-right:5em;
	   
}
.event__cards__title a{
	  
	    color:#000;
	    text-decoration:none;
}
.event_cards__date {
	font-weight:600;
}
.single_events__title {
	font-size:4rem;
	padding-right:3em;
	margin-bottom:40px;
}
.single_event {
	margin-top:9%;
	margin-bottom:3%;
}
.single_event_desc .button--nav {
	margin-top:30px;
	font-size:1em;
}
.single_event_desc p {
	margin:20px 0;
}

.card__buttons a {
	 text-decoration:none;
}
@media only screen and (max-width: 425px) {
	.event__cards {
		max-height:inherit;
	}
	.event__card-body {
    	padding: 3rem;
	}
	.event__cards__title {
	font-size: 2em;
     padding-right: 0;
    }
    .card__buttons {
    text-align:center;
    }
    .card__buttons .button  {
    font-size:1.2em;
    }
    .single_events__title {
	    font-size: 3rem;
	    padding-right: 0;
    }
	.single_event_desc .button--nav {
		border-radius:7.7em;
	}
    
}
@media only screen and (min-width: 1200px) {
	img.custom__img-fluid {
		width: 100%;
		min-height: 685px;
	} 
}
@media only screen and (max-width: 375px) {
	.card__buttons .learn__more_btn {
		margin-left: 0 !important;
		margin-top:10px;
	}
	.card__buttons .learn__more_btn, .card__buttons .sign__up_btn {
    	display:block !important;
    }
}
