.resources-block {
    &__img {
        padding-top: 100%;
        position: relative;
    }

    &__content {
        margin-top: 0;
    }

    &__download {
        left: auto;
        right: 10px;
        bottom: 10px;
        position: absolute;
        width: 40px;
    }
}