/*
*
* _LAYOUT.SCSS
*
*/

// thin 280
///////////////////////////////////////////////////////////////////////////

.inner {padding: 30px;}

.site-content {margin-top: 66px;}




// mobile medium
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.site-content {margin-top: 76px;}
.inner {padding: 40px;}

}

// phablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: phablet) {

.inner {padding: 30px;}

}


// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.site-content {margin-top: 92px;}
.inner {padding: 45px;}

}

// desktop large
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.inner {padding: 60px;}	

}

// wide 1920
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: wide) {

.inner {padding: 70px;}	

}

// extraWide
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: extraWide) {

.page {
	max-width: 2560px;
	margin: 0 auto;
}

}
