/*
*
* _LAYOUT.SCSS
*
*/

// thin 280
///////////////////////////////////////////////////////////////////////////

.site-content {margin-top: 66px;}

// mobile medium
///////////////////////////////////////////////////////////////////////////


@include mq($from: mobileMedium) {

.site-content {margin-top: 76px;}

}

// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.site-content {margin-top: 92px;}

}