/*
*
* _LAYOUT.SCSS
*
*/

// thin 280
///////////////////////////////////////////////////////////////////////////
.site-content {
	margin-top: 55.9px;
}

.full-width {
	grid-column: col1 / col12-end;
}

.half {
	grid-column: span 12;
}

.space-bottom {
	margin-bottom: 40px;
}

.mb-24 {
	margin-bottom: 24px;
}

// mobile
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobile) {

	.site-content {
		margin-top: 64px;
	}

}

// mobileMedium
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

	.site-content {
		margin-top: 76.5px;
	}

}


// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

	.site-content {
		margin-top: 90px;
	}

	.space-bottom {
		margin-bottom: 80px;
	}

}

// desktop 
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

	.site-content {
		margin-top: 100px;
	}

	.site {
		max-width: 1920px;
		margin: 0 auto;
	}

	.site--full {
		max-width: 2560px;
	}

	.full-width {
		grid-column: col1 / col9;
	}

}

// 1366
@include mq($from: desktopLarge) {
	.half {
		grid-column: span 6;
		padding-left: 5%;

		&:nth-of-type(odd) {
			padding-right: 5%;
			padding-left: 0;
		}
	}
}

// 1680
@include mq($from: desktopExtraLarge) {}

// extraWide
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: extraWide) {}