/*
*  
* $_MIXINS.SCSS
*
*/

@mixin box-shadow {
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
}

@mixin box-shadow-reverse {
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.16);
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.16);
}

@mixin box-shadow-front {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
}