/*
*
* _TYPE.SCSS
*
*/

// thin 
///////////////////////////////////////////////////////////////////////////

body {
	font-family: apercu-reg, sans-serif;
	color: $black;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-fk {
	font-family: fk-screamer, sans-serif;
	text-transform: uppercase;
}

.font-canela {
	font-family: canela-medium, serif;
}

.bold {
	font-family: apercu-bold, sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

h1,h2,h3,h4,h5 {
	margin:0;
	font-weight: 100;
}

h1 {
	font-size: 3.6em;
	margin-bottom: 0.5em;
	line-height: 1.2;
}

h2 {
	font-size: 3.2em;
	margin-bottom: 0.5em;
}

h3 {
	//font-size: 1.4em;
	text-transform: uppercase;
	margin-bottom: 1.4em;
	letter-spacing: 2px;
	font-weight: 100;
}

p {
	font-size: 1.6em;
	margin:0;
}

// mobile medium 
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

}


// tablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {


h2 {
	font-size: 4em; 
	margin-bottom: 1em;
}

p {font-size: 1.8em;}

}



// desktop
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

h2 {
	font-size: 4em; 
}


// .desktop-break {
// 	display:block;
// }

}


// desktop extra large
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopExtraLarge) {

h2 {
	font-size: 5em; 
}


// .desktop-break {
// 	display:block;
// }

}

// wide
///////////////////////////////////////////////////////////////////////////


@include mq($from: wide) {

p {font-size: 2.1em;}

}