/*
*
* _TYPE.SCSS
*
*/

// thin 
///////////////////////////////////////////////////////////////////////////

body {
	font-family: apercu-reg, sans-serif;
	color: $black;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-fk {
	font-family: fk-screamer, sans-serif;
	text-transform: uppercase;
}

.font-canela {
	font-family: canela-medium, serif;
}

.bold {
	font-family: apercu-bold, sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.text-red {
	color: $red;
}

h1,h2,h3,h4,h5 {
	margin:0;
	font-weight: 100;
}

h1 {
	font-size: 3.6em;
	margin-bottom: 0.5em;
	line-height: 1.2;
}

h2, .b-title {
	font-size: 3.2em;
	margin-bottom: 0.5em;
	&--smaller {
		font-size: 2em;
	}
}

h3 {
	font-size: 1.4em;
}

h3, .c-title {
	//font-size: 1.4em;

	text-transform: uppercase;
	margin-bottom: 1.4em;
	letter-spacing: 2px;
	font-weight: 100;
}

p{
	font-size: 1.6em;
	margin:0;
}

// mobile medium 
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

h1 {
	font-size: 4.1em;
}

}

// mobile large
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileLarge) {

h1 {
	font-size: 4.8em;
}

}

// tablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

h1 {
	font-size: 5.4em;
}

h2, .b-title {
	font-size: 4em; 
	margin-bottom: 1em;
	&--smaller {
		font-size: 3em;
	}
	&--half-margin-bottom{
		margin-bottom: 0.5em;
	}
}

p {font-size: 1.8em;}

}



// desktop
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {



}


// desktop extra large
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopExtraLarge) {


h1 {
	font-size: 6.8em;
	margin-bottom: 0.3em;
}


h2, .b-title {
	font-size: 5em; 
	&--smaller {
		font-size: 3.5em;
	}
	&--half-margin-bottom{
		margin-bottom: 0.5em;
	}
}

h3 {
	font-size: 1.6em;
}

// .desktop-break {
// 	display:block;
// }

}

// wide
///////////////////////////////////////////////////////////////////////////


@include mq($from: wide) {

p {font-size: 2.1em;}

}
