/*
*
* _TYPE.SCSS
*
*/


body {
	font-family: apercu-reg, sans-serif;
	color: $black;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-fk {
	font-family: fk-screamer, sans-serif;
	text-transform: uppercase;
}

.bold {
	font-family: apercu-bold, sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

h1,h2,h3,h4,h5 {margin:0;}

p {
	font-size: 1.6em;
	margin-top: 2.8em;
	margin-bottom: 0;
}

// desktop
///////////////////////////////////////////////////////////////////////////


@include mq($from: desktop) {

p {font-size: 1.8em;}

}


// wide
///////////////////////////////////////////////////////////////////////////


@include mq($from: wide) {

p {font-size: 2.1em;}

}