/*
*  
* $_VARIABLES.SCSS
*
*/


// Sizes
///////////////////////////////////////////////////////////////////////////////

$base-font-size: 14;
$em-base: 14px;

// Responsive Breakpoints
///////////////////////////////////////////////////////////////////////////////

$mq-breakpoints: (
	thin: 280px,
    mobile: 320px,
    mobileMedium: 375px,
    mobileLarge: 480px,
    phablet: 600px,
    tablet:  768px,
    desktop: 1024px,
    desktopLarge: 1440px,
    wide: 1920px,
    extraWide: 2560px,

) !default;

// Show breakpoints 
$mq-show-breakpoints: (mobile, mobileMedium, mobileLarge, phablet, tablet, desktop, desktopLarge, wide, extraWide);

// Colors
///////////////////////////////////////////////////////////////////////////////

//brand 
$red: #D6001C;
$red-tint: #FACCD2;
$white: #ffffff;
$black: #212322;
$light-grey: #FAFAFA;
$lines: #CBCBCB;
$battleship-grey: #8E949E;
$green: #5CAA7F;
$blue: #8BBEE8;
$yellow: #FFC845;

//z-index
///////////////////////////////////////////////////////////////////////////////
$z-modals: 900;
$z-header: 800;
$z-ticker: 700;

//others maybe needed

$z-body:600;

