.core-heading {

    h1,
    h2,
    h3,
    h5,
    h5,
    h6 {
        font-family: 'canela-medium', serif;
        font-weight: normal;
        grid-column: span 12;
        margin: 0;
        max-width: 960px;

        a {
            color: var(--black);
            position: relative;

            &:after {
                content: url('./../../assets/img/link-arrow-no-width.svg');
                height: 100%;
                top: 0;
                position: absolute;
                left: auto;
            }
        }
    }

    .has-extra-large-font-size a:after {
        width: 10px;
        margin-left: 8px;
    }

    .is-style-apercu {
        font-family: 'apercu-reg', sans-serif;
    }

    .is-style-fk-screamer {
        font-family: 'fk-screamer', sans-serif;
    }
}

@media screen and (min-width: 768px) {
    .core-heading {
        .has-extra-large-font-size a:after {
            width: 12px;
        }
    }

}

@media screen and (min-width: 1366px) {
    .core-heading {

        h1,
        h2,
        h3,
        h5,
        h5,
        h6 {
            grid-column: 2/10;
        }
    }
}