.wp-block-spacer {
    margin-top: 0;
    margin-bottom: 0;

    &.is-style-small {
        height: clamp(12px, 3vw, 24px) !important;
    }

    &.is-style-medium {
        height: clamp(24px, 5vw, 40px) !important;
    }

    &.is-style-large {
        height: clamp(40px, 8vw, 80px) !important;
    }

    &.is-style-x-large {
        height: clamp(80px, 9vw, 160px) !important;
    }
}