/*
*
* _ARCHIVE-PAGE.SCSS
*
*/

.archive-page {


	&__numbers {
		font-size: 1rem;

		.nav-links {
			display: flex;

			>*+* {
				margin-left: 12px;
			}

			* {
				padding: 5px 15px;
				border-radius: 4px;
				background-color: var(--black);
				color: white;
				opacity: 0.5;
			}

			a {
				opacity: 1;
			}
		}
	}

	/*/numbers*/
}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {}