/*
*
* _ARCHIVE-PAGE.SCSS
*
*/

.archive-page {

	.post-block__post--cat-blogs_and_opinion_editorials,
	.post-block__post--cat-case-studies {
		.post-block__tag:last-child {
			display: none;
		}

		&::before {
			content: "Blogs and opinion";
			position: absolute;
			top: 0;
			left: 0;
			background-color: var(--red);
			color: white;
			padding: 5px 8px;
			border-radius: 0 0 8px 0;
			font-size: 0.75rem;
		}
	}

	.post-block__post--cat-case-studies {
		.post-block__tag:last-child {
			display: block;
		}

		::before {
			content: "Case Study";
		}
	}


	&__numbers {
		font-size: 1rem;

		.nav-links {
			display: flex;

			>*+* {
				margin-left: 12px;
			}

			* {
				padding: 5px 15px;
				border-radius: 4px;
				background-color: var(--black);
				color: white;
				opacity: 0.5;
			}

			a {
				opacity: 1;
			}
		}
	}

	&--search {
		grid-column: span 12;
	}
}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {}

// desktop xl
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopExtraLarge) {
	.archive-page {
		&--search {
			grid-column: 2/10;
		}

		&__numbers {
			&--search {
				grid-column: 2/10;
			}
		}
	}
}