/*
*
* _FORM-PAGE.SCSS
*
*/

.page-template-page-form .site {
	max-width: 2560px;
}

.form-page{
	background-color: $light-grey;
	&__content {
		margin-top: 3em;
		margin-bottom: 5em;
		grid-column: main;
		max-width: 680px;
	}
}

// desktop 
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.form-page{
	&__content {
		margin-top: 5em;
		margin-bottom: 14em;
	}
}


}

// wide
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: wide) {

.form-page{
	&__content {
		margin-left: 160px;
	}
}


}