/*
*
* _GET-INVOLVED-PAGE.SCSS
*
*/

.get-involved-page {

	//img grid
	.get-involved {
		&__item--b {
			display: block;
			order: 6;
			.button {
				right:10%;
				bottom:10%;
			}
		}
		&__item--c {
			display: none;
		}
	}

	&__text-block {
		grid-column: col2 / col12;
		h2 {
			margin-bottom: 0.7em;
			line-height: 1;
		}
	}
	&__social-title {
		grid-column: col2 / col12;
		margin-right: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	&__social-icons {
		grid-column: col2 / col12;
		margin-top: 0;
		margin-right: auto;
		margin-bottom: 40px;
	}
}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.get-involved-page {
	&__text-block {
		grid-column: col3 / col11;
		text-align: center;
		margin-bottom: 80px;
	}
	&__social-title {
		grid-column: col2 / col12;
		margin:20px auto;
	}
	&__social-icons {
		grid-column: col2 / col12;
		margin: 60px auto;
		margin-top: 10px;
	}

}


}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {

.get-involved-page {

	//img grid
	.get-involved {
		&__item--c {
			display: block;
			padding-top:100%;
		}
	}

	&__text-block {
		grid-column: col4 / col10;
		margin-bottom: 80px;
	}

}

}

// desktopLarge
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopLarge) {

.get-involved-page {

	&__text-block {
		grid-column: col5 / col9;
		margin-bottom: 100px;
	}

}

}