/*
*
* _GET-INVOLVED-PAGE.SCSS
*
*/

.get-involved-page {

	//img grid
	.get-involved {
		&__item--b {
			display: block;
			order: 6;
			.button {
				right:10%;
				bottom:10%;
			}
		}
		&__item--c {
			display: none;
		}
	}

	&__text-block {
		grid-column: col2 / col12;
		margin-bottom: 40px;
	}
}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {

.get-involved-page {

	//img grid
	.get-involved {
		&__item--c {
			display: block;
			padding-top:100%;
		}
	}

}

}