/*
*
* _PREVENTION_MONTH.SCSS
*
*/

.prevention-month {
	margin-bottom: 80px;
	&__hero-img {
		grid-column: col1 / col12-end;
		min-height: 360px;
		background-size: cover;
		background-position: bottom center;
		grid-row-start: 1;
	}
	&__hero-title {
		grid-row-start:1;
		letter-spacing: 0.01em;
		line-height: 1;
		margin-top: 40px;
		grid-column: col2 / col12;
		z-index: 1;
		span {
			position: relative;
			&:before {
				content:"";
				position:absolute;
				bottom:0;
				left:-2.5%;
				width:105%;
				height:0.3em;
				background-color: #DBDCDC;
				z-index: -1;
			}
		}
	}
	&__title {
		grid-column: col2 / col12;
		margin-top: 40px;
		margin-bottom: 0.5em;
	}
	&__text {
		grid-column: col2 / col12;
		margin-bottom: 40px;
		p {
			margin-bottom: 40px;
		}
	}
	&__signs-img, &__social-img {
		margin-top: 40px;
		grid-column: col1 / col12-end;
		background-size: cover;
		padding-top: 67%;
	}
}

// mobileMedium
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.prevention-month {
	&__hero-title {
		font-size: 4.4em;
	}
}

}

// tablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.prevention-month {
	&__hero-title {
		font-size: 7em;
		margin-bottom: 80px;
	}
}


}


// tablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.prevention-month {
	&__signs-img, &__social-img, &__title, &__text, &__hero-title {
		grid-column: col4 / col9;
	}
	&__hero-title {
		font-size: 9.5em;
		margin-bottom: 150px;
	}
}



}






