/*
*
* _SIGNUP.SCSS
*
*/

.signup {
	&__hero{
		grid-column: col1 / col12-end;
		background-size: cover;
		padding:8.6vw 0;
		background-position-x: -113px;
	}
	&__header {
		color: white;
		grid-column: col2 / col9;
	}
	&__heading {font-size: 5em;} 
	&__form-title {
		font-size: 2.5em;
    	margin-bottom: 1em;
	}
}

// mobile large
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.signup {
	&__heading {font-size: 6em;} 
}

}

// mobile large
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileLarge) {

.signup {
	&__hero{
		background-position-x: 0;
	}
}


}

// tablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.signup {
	&__header {
		color: white;
		grid-column: col2 / col8;
	}
	&__hero{
		background-size: 120%;
	}
	&__heading {font-size: 7em;}
	&__desc{
		max-width: 68%;
	}
	&__form-title {
		font-size: 3em;
    	margin: 1.5em 0;
	}
}

}

// desktop
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.signup {
	&__hero{
		background-size: cover;
		padding:12em 0;
	}
	&__heading {font-size: 9em;} 
	&__desc{
		max-width: 50%;
	}
	&__form-title {
		font-size: 4em;
	}
}

}

// desktop X Large
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopExtraLarge) {

.signup {
	&__hero{
		padding:20em 0;
	}
	&__heading {font-size: 12em;} 
}

}


