.post-block {
    gap: 16px;

    &__post {
        position: relative;
        background-color: var(--light-grey);
        grid-column: span 12;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
        display: flex;
        flex-direction: column;
        min-height: 250px;

        &:hover {
            .post-block__title {
                text-decoration: underline;
            }
        }

        &--cat-videos,
        &--cat-blogs_and_opinion_editorials {
            .post-block__content {
                position: absolute;
                bottom: 0;
            }

            .post-block__date {
                display: none;
                background-color: transparent;
                padding: 0;
                margin-bottom: 16px;

                p {
                    color: white;
                }

                svg path {
                    fill: white !important;
                }
            }

            .post-block__title {
                color: white;
            }

            .post-block__image {
                padding-top: 100%;
                height: 100%;
            }

            .post-block__image:after {
                content: "";
                width: 100%;
                height: 50%;
                background: rgb(33, 35, 34);
                background: linear-gradient(180deg, rgba(33, 35, 34, 0) 0%, rgba(33, 35, 34, 1) 100%);

                position: absolute;
                bottom: 0;
            }

            .post-block__image:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: url('./../../assets/img/play-button.svg');
                width: 60px;
                height: 60px;
                z-index: 1;

                &:hover {
                    cursor: pointer;
                }
            }

            .post-block__tags {
                position: absolute;
                top: 0;
                right: 0;
                padding: 16px;
            }


        }

        &--cat-blogs_and_opinion_editorials {
            .post-block__image:before {
                display: none;
            }

            .post-block__date {
                display: flex;
            }
        }

        &--cat-in_the_headlines {
            .post-block__content {
                margin-top: 0;

                >* {
                    display: block !important;
                }
            }

            .post-block__date {
                margin: 0;
                padding: 24px 24px 0 0;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

    }

    &__image {
        width: 100%;
        padding-top: 50%;
    }

    &__headline-source {
        margin-bottom: 24px;

        .post-block__tag {
            display: inline-block;
        }
    }

    &__headline-image {
        margin-bottom: 24px;

        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    &__content {
        padding: 24px;
        margin-top: -45px;
    }

    &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__tags {
        display: flex;
        position: relative;
        z-index: 2;
        padding: 0 24px 24px 24px;
        max-width: 100%;

        &>*+* {
            margin-left: 12px;
        }

        &--center {
            justify-content: center;
        }
    }

    &__tag {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: var(--black);
        padding: 5px 10px;
        color: white;
        border-radius: 4px;
        font-size: 0.75rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--light-grey);
        padding: 5px 10px;
        margin-bottom: 20px;
        border-radius: 4px;

        p {
            font-size: 13px;
            margin: 0;
        }

        svg {
            margin-right: 8px;
            margin-top: -1px;
        }
    }

    &__title {
        font-weight: bold;
    }

    &__content--no-image {
        margin-top: 0;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>div {
            margin-bottom: auto;
        }
    }


}

@media screen and (min-width:600px) {

    .post-block {

        &__post {
            grid-column: span 6;

            &--enlarge {

                &:nth-child(1),
                &:nth-child(2) {
                    grid-column: span 12;
                    font-size: var(--wp--preset--font-size--large) !important;

                    .post-block__tags {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 16px;
                    }

                    .post-block__content {
                        margin: 0;
                        position: absolute;
                        bottom: 0;
                        color: white;
                    }

                    .post-block__date {
                        background-color: transparent;
                        margin-bottom: 12px;
                        padding: 0;

                        svg path {
                            fill: white !important;
                        }
                    }

                    .post-block__image:after {
                        content: "";
                        width: 100%;
                        height: 50%;
                        background: rgb(33, 35, 34);
                        background: linear-gradient(180deg, rgba(33, 35, 34, 0) 0%, rgba(33, 35, 34, 1) 100%);

                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
    }

}

@media screen and (min-width:768px) {
    .post-block {
        gap: 32px;
    }
}

@media screen and (min-width:1200px) {
    .post-block {

        &__post {
            grid-column: span 4;

            &--enlarge {

                &:nth-child(1),
                &:nth-child(2) {
                    grid-column: span 6;

                    .post-block__image {
                        padding-top: 65%;
                    }
                }
            }
        }

        &__content--no-image {
            .post-block__title {
                font-size: 1.25rem;
                font-weight: normal;
            }
        }
    }
}

@media screen and (min-width:1366px) {

    .post-block {

        &__post {
            grid-column: span 3;

            &--enlarge {

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    grid-column: span 6;
                    font-size: var(--wp--preset--font-size--large) !important;

                    .post-block__tags {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 16px;
                    }

                    .post-block__content {
                        margin: 0;
                        position: absolute;
                        bottom: 0;
                        color: white;
                    }

                    .post-block__date {
                        background-color: transparent;
                        margin-bottom: 12px;
                        padding: 0;

                        svg path {
                            fill: white !important;
                        }
                    }

                    .post-block__image:after {
                        content: "";
                        width: 100%;
                        height: 50%;
                        background: rgb(33, 35, 34);
                        background: linear-gradient(180deg, rgba(33, 35, 34, 0) 0%, rgba(33, 35, 34, 1) 100%);

                        position: absolute;
                        bottom: 0;
                    }

                    .post-block__image {
                        padding-top: 45%;
                    }
                }

                &:nth-child(1) {
                    grid-row: span 2;
                    font-size: var(--wp--preset--font-size--extra-large) !important;

                    .post-block__title {
                        img {
                            width: 10px;
                        }
                    }

                    .post-block__image {
                        position: absolute;
                        padding: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }

                    .post-block__content {
                        padding: 40px;
                    }

                    .post-block__date {
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

}