.block-button {
    margin-bottom: var(--margin-bottom-mobile);

    &__inner {
        grid-column: span 12;
    }

    &__second-button {
        margin-left: 20px;
    }

    &--align-center {
        .block-button__inner {
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .block-button {
        margin-bottom: var(--margin-bottom-desktop);
    }
}

@media screen and (min-width:1680px) {
    .block-button_inner--indent {
        grid-column: 2 / 10;
    }
}