/*
*
* _BETTER-GRID.SCSS
*
*/

.better-grid {
    display: grid;
    grid-template-columns:
        [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr;
    grid-column-gap: 16px;
    //padding: 0 24px;
    padding: 0 clamp(24px, 5vw, 80px);
    width: 100vw;
}



// mob l 480
//////////////////////////////////////////////////////////////////////////////////
@include mq($from: mobileLarge) {
    .better-grid {
        //padding: 0 40px;
    }

}

// tablet 768
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

    .better-grid {
        grid-column-gap: 32px;
        //padding: 0 80px;
    }

}

// desktop
//////////////////////////////////////////////////////////////////////////////////
@include mq($from: desktopExtraLarge) {

    .better-grid {
        padding: 0 124px;
    }

}

// desktop
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: wide) {

    .better-grid {
        max-width: 1672px;
        padding: 0;
        margin: 0 auto;
    }

}