/*
*
* _BETTER-TYPE.SCSS
*
*/

.large,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.large-title .super-title {
    line-height: 1.1;
    letter-spacing: 0;
    text-transform: none;
}

.small {
    font-size: 0.75rem;
    line-height: 1.5;
}

p,
.p {
    font-size: 1rem;
    line-height: 1.5;
}

.large {
    font-size: 1.33rem;
    line-height: 1.5;
}

h4,
.h4 {
    font-size: 1.77rem;
}

h3,
.h3 {
    font-size: 2.36rem;
}

h2,
.h2 {
    font-size: 3.15rem;
}

h1,
.h1 {
    font-size: 4.20rem;
}

.large-title {
    font-size: 5.61rem;
}

.super-title {
    font-size: 7.46rem;
}

h3.block-title {
    font-size: 1.33rem;
}

h3.block-title {
    font-size: 1.77rem;
}

h2.block-title {
    font-size: 2.36rem;
}

h1.block-title {
    font-size: 3.15rem;
}



//mobile large
@media screen and (min-width: 480px) {


    h4.block-title {
        font-size: 1.77rem;
    }

    h3.block-title {
        font-size: 2.36rem;
    }

    h2.block-title {
        font-size: 3.15rem;
    }

    h1.block-title {
        font-size: 4.20rem;
    }



}

//<480
@include mq($until: mobileLarge) {

    // .p-to-mob-l {
    //     font-size: 1rem;
    // }

    // .h4-to-mob-l {
    //     font-size: 1.77rem;
    // }

    // .h3-to-mob-l {
    //     font-size: 2.36rem;
    // }

    // .h2-to-mob-l {
    //     font-size: 3.15rem;
    // }

    // .h1-to-mob-l {
    //     font-size: 4.20rem;
    // }

}

//480
@include mq($from: mobileLarge, $until: tablet) {

    // .h1-to-tab {
    //     font-size: 4.20rem;
    // }

    // .large-title-to-tab {
    //     font-size: 5.61rem;
    // }


}



//768
@include mq($from: tablet, $until: desktop) {

    .large-title-to-desk {
        font-size: 5.61rem;
    }

}

//1024
@include mq($from: desktop) {}

//1366
@include mq($from: desktopLarge) {}

//1680
@include mq($from: desktopExtraLarge) {}

//1920
@include mq($from: wide) {}