/*
*
* _BURGER.SCSS
*
*/

.breadcrumbs {
	font-size: 16px;
	display: flex;
	color: black;
	margin-bottom: 20px;
	flex-wrap: wrap;
	grid-column: span 12;

	&__crumb {}

	&__link {}

	&__seperator {
		margin: 0 10px;
	}
}

@media screen and (min-width: 768px) {

	.breadcrumbs {
		font-size: 18px;
	}
}