/*
*
* _BUTTON.SCSS
*
*/

.button {
	font-size:14px;
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
	background-color: $red;
	display: inline-block;
	padding:14px 30px;
	border-radius:77px;
	min-width:180px;
	text-align: center;
	@include box-shadow;
	transition: all 0.5s ease;
	&:hover {
		cursor: pointer;
	} 
}

.button__inner {
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.button__link {
	color:$white;
	letter-spacing: 1.5px;
	&:hover {
		cursor: pointer;
	} 
}

.button__link--plain {
	letter-spacing: 0;
	text-decoration: underline;
}

.button__link--red {color: $red;}

.button__link--black {color: $black;}

.button--green {background-color: $green;}

.button--one-line {min-width: 0;}

.button--nav {
	min-width:0px;
	font-size: 12px;
	padding: 10px 16px 8px 18px;
	border-radius: 77px 0 0 77px;
	letter-spacing: 1px;
	z-index: 801;
}

.button__play-symbol {
	width:18px;
	margin-left: -5px;
	margin-right: 15px;
}

// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.button {font-size: 16px;}

.button--nav {
	border-radius: 77px;
	padding: 15px 30px 13px 30px;
	font-size: 16px;
	margin-right: 16px;
}

}

// desktop
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.button {font-size: 16px;}

}