/*
*
* _BUTTON.SCSS
*
*/

.button {
	color:white;
	@include box-shadow;
	border-radius: 7.7em;
	padding: 1em 2.6em 1em 2.6em;
	font-size: 1.6em;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;

	&__inner {
		display: flex;
	}

	&__link {
		color: inherit;
	}

	&__play-symbol {
		width:1.15em;
		display: inline-block;
		margin-left: -0.6em;
		margin-right: 1em;
	}

	&--red {
		background-color:$red;
	}

	&--green{
		background-color:$green;
	}

	&--white{
		color: $black;
	}

	&--nav {
		border-radius: 7.7em 0 0 7.7em;
		font-size: 1.2em;
		padding: 1em 1.6em 0.8em 1.8em;
	}

}

// Tablet
///////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.button {
	font-size: 2.2em;
	&--nav {
		border-radius: 7.7em;
		font-size: 1.6em;
		margin-right: 0.7em;
	}
}

}

// desktop
///////////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.button {
	&--nav {
		border-radius: 7.7em;
		font-size: 1.8em;
		margin-right: 0.7em;
	}
}

}

// extra wide
///////////////////////////////////////////////////////////////////////////////

@include mq($from: extraWide) {

.button {
	font-size: 3em;
	&--nav {
		font-size: 1.8em;
	}
}

}
