/*
*
* _CARDS.SCSS
*
*/

.cards {
  	position:relative;
  	width:100%;
  	height:336px;
  	margin-top:10px;
  	overflow: hidden;
  	z-index: 1;
  	margin-bottom: 40px;
}

.cards__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	letter-spacing: 1px;
	margin-top: 150px;
	margin-bottom: 10px;
}

.cards__info {
	opacity:0.5;
	font-size: 14px;
}

.cards__inner {
  	position: absolute;
  	width: 5000px;
  	height: 300px;
  	z-index: 1;
}
.cards__card {
 	position: relative;
  	width: 90vw;
  	min-height: 320px;
  	border-radius: 20px;
  	margin-left:8px;
  	background-color: $light-grey;
  	color: $black;
  	float: left;
  	padding: 30px;
  	@include box-shadow;
}


.cards__card-title {
	font-size:30px;
	line-height: 0.9;
}

.cards__body {
	margin-top: 20px;
}

.cards__line {
	height:1px;
	background-color:$black;
	z-index: 0;
	top:40%;
	position:relative;
}

// mobile medium
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileMedium) {

.cards__card {
  	width: 85vw;
  	margin-left:20px;
}

.cards__card-title {
	font-size:48px;
}

}

// mobile large
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileLarge) {

.cards__card {
  	width: 75vw;
  	margin-left:40px;
}
}

// phablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: phablet) {

.cards {height:341px;}

.cards__title {
	margin-top: 40px;
	br {display: none;}
}

.cards__info {
	margin-top: 1px;
	margin-bottom: 40px;
}

.cards__card {
  	width: 50vw;
  	margin-left:2vw;
}

}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.cards__card {
 	position: relative;
  	width: 44vw;
  	margin-left:5vw;
}

.cards__card-title {
	font-size:61px;
	max-width: 80%;
}

}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {

.cards {height:421px;}

.cards__title {
	margin-top: 60px;
	font-size: 28px;
	letter-spacing: 2px;
}

.cards__info {
	font-size: 16px;
	margin-bottom: 60px;
}

.cards__card-title {
	font-size:70px;
}

.cards__card {
  	width: 38vw;
  	margin-left:50px;
  	padding:35px;
  	min-height: 400px;
}

}

// desktopLarge
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopLarge) {

.cards__title {
	margin-top: 80px;
}

.cards {height:474px;}

.cards__line {top:30%;}

.cards__card {
	padding:50px;
  	width: 450px;
  	min-height: 450px;
}


}

// desktopLarge
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopXLarge) {

.cards {height:604px;}

.cards__title {
	margin-top: 100px;
	font-size: 34px
}

.cards__info {
	margin-bottom: 100px;
}

.cards__card-title {
	font-size:98px;
}

.cards__line {
	top:40%;
}

.cards__card {
	padding:80px;
  	width: 550px;
  	min-height: 550px;
  	margin-left:80px;
}

}

// wide
///////////////////////////////////////////////////////////////////////////
@include mq($from: wide) {

.cards {
	height:634px;
	margin-bottom:80px;
}

.cards__button{
	transform: scale(1.2);
}

.cards__card-title {
	font-size:120px;
}

.cards__line {
	top:40%;
}

.cards__card {
	padding:100px;
  	width: 650px;
  	min-height: 600px;
  	margin-left:100px;
  	&:nth-child(1) {
  		margin-left:200px;
  	}
}

}
