/*
*
* _COOKIE-NOTICE.SCSS
*
*/

.cookie-notice {
	visibility: hidden;
	position: fixed;
	bottom:0;
	left: 0;
	background-color: $light-grey;
	p{
		font-size: 12px;
		margin-bottom: 20px;
		a{
			text-decoration: underline;
			font-weight: bold;
		}
	}
	//font-weight: bold;
	padding:25px;
	@include box-shadow-reverse;
}

// phablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: phablet) {


.cookie-notice {
	padding: 35px;
	display: flex;
	align-items: center;
	bottom: 50px;
	z-index: 9999999;
	p{
		font-size: 16px;
		margin: 0 30px 0 0;
	}

}

}


@include mq($from: desktop) {

.cookie-notice {
	max-width: 800px;
	border-radius:25px;
	left: 50%;
	transform: translateX(-50%);
}

}


