/*
*
* _DONATE.SCSS
*
*/

.donate {
	grid-column: col2 / col12;
	padding-top: 8.33vw;
	&__widget {
		font-size: 1em;
	}
	&__toggle-and-currency {
		display:flex;
		flex-wrap: wrap;
		align-items: center;	
		justify-content: flex-start;
	}
	&__currency-message {
		font-size: 1.2em;
		text-decoration: underline;
		margin-top: 2em;
		color: $battleship-grey;
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		max-width: 36em;
		font-size: 0.8em;
		margin: 3em -0.5em 0 -0.5em;
		&:hover {cursor:pointer;}
	}
	&__button, &__custom {
		font-size: 1.7em;
		font-weight: bold;
		color: #BABABA;
		padding: 0.85em 1.3em 0.8em 1.3em;
    	flex: 1;
    	text-align: center;
		border-radius: 77px;
		background-color: $fields;
		border: 1px solid $fields-border;
		margin:0.3em;
		min-width: 30%;
		&--monthly:after {
			content:"/mo";
			font-size: 0.7em;
		}
		&--active {
			border-color: $red;
			background-color: $red;
			color: $white;
		}
		&--uk:before {
			content:"£";
		}
	}
	&__custom {
    	flex: 3;
    	min-width: 60%; 
    	&-input, input[type="number"] {
    		font-size: 1em;
    		outline:none;
    		border: none;
    		width:100%;
    		height:100%;
    		padding-left:1em;
    		position: relative;
    		background: transparent;
    	}
	    &:after {
			content: "Custom Amount";
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			border-radius: 7.7em;
			background-color: $fields;
			padding: 0.85em 1.3em 0.8em 1.3em;
			z-index: 2;
		}
    	&--active {
    		background-color: $white;
    		color: $black;
    		&:after {display:none;}
    	}
	}
	&__message{
		font-size: 1.4em;
		margin-top: 2em;
		&-amount {
			color: $red;
			text-decoration: underline;
		}
		&-amount:before {
			content:"£";
		}
	}
	&__form {
		display:none;
	}
	&__amount-preview {
		font-size: 1.4em;
		font-weight: bold;
		opacity: 0.5;
		width:100%;
		//text-decoration: underline;
		color: $red;
		&-number--uk:before {
			content: "£";
		}
	}
	&__widget-footer {
		padding-bottom: 8.33vw;
	}
}

// mobileMedium
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileMedium) {

.donate {
	&__buttons {
		font-size: 1em;
		margin-top: 2.4em;
	}
}

}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.donate{
	&__heading {
		font-size: 8.2em;
	}
	&__amount-preview {
		font-size: 1.68em;
		width:auto;
		margin-top: 1em;
	}
	&__desc, &__message {
		max-width: 36em;
	}
	&__widget{
		font-size: 1.2em;
	}
	&__toggle{
	 	margin-right: 4em;
	}
}

}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {

.donate {
	&__currency-message {
		margin-top: 0.5em;
	}
}
	

}

// desktop XL
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopExtraLarge) {
	
.donate {
	grid-column: col3 / col11;
	padding-top: 10em;
	&__widget{
		//font-size: 1.5em;
	}
	&__amount-preview {
		font-size: 2em;
	}
}

}