/*
*
* _DOTS.SCSS
*
*/

.dots {
	max-width: 6em;
	display: flex;
	justify-content: space-between;
	&__dot {
  		width: 0.7em;
  		height: 0.7em;
  		border-radius: 100%;
  		background-color: $lines;
  	}
}


// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.dots {
	max-width: 10em;
	&__dot {
  		width: 1.1em;
  		height: 1.1em;
  	}
}


}

