/*
*
* _DOTS.SCSS
*
*/

.dots {
	max-width: 6em;
	margin: 2em auto 4em auto;
	display: flex;
	justify-content: space-between;
	&__dot {
  		width: 0.7em;
  		height: 0.7em;
  		border-radius: 100%;
  		background-color: $lines;
  	}
}


// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.dots {
	max-width: 10em;
	margin: 4em auto 6em auto;
	&__dot {
  		width: 1.1em;
  		height: 1.1em;
  	}
}


}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopExtraLarge) {

.dots {
	margin: 8em auto 10em auto;
}

}