/*
*
* _CARDS.SCSS
*
*/

.drag-cards{
	width:100%;
	grid-column: col1 / col12-end;
	overflow-x: hidden;
	padding:2em 0;
	margin: 10em 0 4em 0;
	&__heading {
		font-size: 3.6em;
		line-height: 1.3;
		margin-bottom: 0.7em;
		margin-top: 0.5em;
		text-align: center;
		padding: 0 0.5em;
	}
	&__inner{
		position:relative;
	 	width: 5000px;
	 	display: grid;
	 	grid-template-columns: repeat(4, 87vw);
	 	grid-gap: 1em;
	 	padding-left: 1em;
	 	//left:-50px;
	}
  	&__card {
	    min-height: 30em;
	    border-radius: 20px;
	    background-color: $almost-white;
	    @include box-shadow;
	    padding:2.5em;
	    box-sizing: border-box;
	    &-number{
			margin-bottom: 0.7em;
	    }
	    &-title {
			font-size: 4.8em;
			line-height: 0.9;
			margin-bottom: 0.4em;
	    }
  	}
  	&__button {
  		display: flex;
  		justify-content: center;
  	}
  	&__dots {
  		margin: 2em auto 4em auto;
  	}
}

// mobile medium
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileMedium) {

.drag-cards{
	&__inner{
	 	grid-template-columns: repeat(4, 80vw);
	 	grid-gap: 1.5em;
	 	padding-left: 1.5em;
	}
  	&__card {
	    padding:3em;
  	}
}

}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.drag-cards{
	&__heading {
		font-size: 5em;
		padding: 0 3em;
		margin-bottom: 1em;
		br {display: none;}
	}
	&__inner{
	 	grid-template-columns: repeat(4, 55vw);
	 	grid-gap: 2em;
	 	padding-left: 4em;
	}
  	&__card {
	    padding:5em;
	    &-number {
	    	font-size: 2.1em;
			margin-bottom: 0.7em;
	    }
	    &-title {
			font-size: 6.4em;
			margin-bottom: 0.4em;
	    }
	    &-desc {
			font-size: 1.8em;
	    }
  	}
  	&__dots {
  		margin: 4em auto 6em auto;
  	}
}

}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {

.drag-cards{
	margin-top: 2em;
	//margin-bottom: 50em;
	&__heading {
		margin-bottom: 1.5em;
	}
	&__inner{
	 	grid-template-columns: repeat(4, 42em);
	 	grid-gap: 2em;
	 	padding-left: 8.33vw;
	}
  	&__card {
	    padding:5em;
	    min-height: 40em;
	    display: flex;
    	flex-direction: column;
	    &-number {
	    	font-size: 2.1em;
			margin-bottom: 0.7em;
	    }
	    &-title {
			font-size: 7em;
			margin-bottom: 0.4em;
	    }
	    &-desc {
	    	margin-top: auto;
			font-size: 1.8em;
	    }
  	}
}



}

// desktop large
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopLarge) {

.drag-cards{
	&__heading{
	 	font-size: 6.2em;
	}
}



}


// desktop extra large
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopExtraLarge) {

.drag-cards{
	margin-top: 5em;
	&__inner{
	 	grid-template-columns: repeat(4, 54em);
	}
  	&__card {
	    padding:6.5em;
	    min-height: 40em;
	    display: flex;
    	flex-direction: column;
	    &-desc {
			font-size: 2.2em;
	    }
  	}
  	&__dots {
  		margin: 8em auto 10em auto;
  	}
}



}

// extra wide
///////////////////////////////////////////////////////////////////////////
@include mq($from: extraWide) {

.drag-cards{
	margin-top: 10em;
	&__inner{
	 	grid-template-columns: repeat(4, 65em);
	 	padding-left: 16.66vw;
	}
  	&__card {
	    padding:6.5em;
	    min-height: 40em;
	    display: flex;
    	flex-direction: column;
    	&-number {
	    	font-size: 3.3em;
			margin-bottom: 0.7em;
	    }
	    &-title {
			font-size: 9em;
			margin-bottom: 0.4em;
	    }
  	}
}



}



