/*
*
* _FORMS.SCSS
*
*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
.StripeElement {
  padding: 20px 16px !important;
  font-size: 16px !important;
  border: 1px solid $fields-border !important;
  border-radius: 8px !important;
  font-weight: normal;
  font-family: 'apercu-reg';
  line-height: 1.2 !important;
  height: auto !important;

  &:active,
  &:focus,
  &:focus-visible {
    outline: 2px solid $red;
  }
}

input[type="submit"] {
  line-height: 1 !important;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

// hides the "(required)" from required fields
.gfield_required {
  display: none !important;
}

.gform_wrapper.gravity-theme select,
select {
  line-height: 1.2 !important;
  padding: 20px 16px !important;
  font-size: 16px !important;
  font-family: 'apercu-reg';
  border-radius: 8px;
  border: 1px solid $fields-border !important;

  &:active,
  &:focus,
  &:focus-visible {
    outline: 2px solid $red;
  }
}

.ginput_container select,
select {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.ginput_container_select {
  position: relative;

  &:after {
    content: '▾';
    font-size: 16px;
    position: absolute;
    right: 1.5em;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    opacity: 0.5;
  }
}

.gform_wrapper.gravity-theme .gform_fields {
  grid-row-gap: 16px !important;
  grid-column-gap: 15px !important;
}

.gfield_html p {
  font-size: 14px;
}

.gform_title {
  font-size: 24px;
  margin-bottom: 0.5em;
}

.gform_description {
  font-size: 16px;
}

.gform_heading {
  margin-bottom: 32px;
}

.gfield_label {
  font-weight: normal !important;
  font-size: 14px !important;
}

.gform_wrapper.gravity-theme .ginput_container_date input {
  width: 100% !important;
}

.gfield_radio {
  label {
    font-size: 16px !important;
  }

  .gchoice {
    padding: 5px 0;
  }
}

.ginput_container_radio {
  margin-bottom: 10px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: grayscale(1);
}

.gform_page_footer .button {
  line-height: 1 !important;
}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea,
  .StripeElement {
    font-size: 18px !important;
    height: auto !important;
  }

  .gfield_html p {
    font-size: 16px;
  }

  .gform_title {
    font-size: 36px;
  }

  .gform_description {
    font-size: 20px;
  }

  .gform_heading {
    margin-bottom: 40px;
  }

  .gform_wrapper.gravity-theme select,
  select {
    font-size: 18px !important;
  }

  .gfield_label {
    font-size: 16px !important;
  }

}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {}

// desktop xl
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopExtraLarge) {}