/*
*
* _GET-HELP.SCSS
*
*/

.get-help{
	position: fixed;
    right: 0px;
    bottom: 0;
    z-index: $z-modals;
	&__help-button {
	@include box-shadow-reverse;
	left:0;
    top:0;
    height: 39px;
    display: flex;
    align-items: center;
    position:absolute;
    left:0;
    transform:translate(-100%, -100%);
    font-family: 'fk-screamer', sans-serif;
    text-transform: uppercase;
    background-color: $yellow;
    color: $black;
    font-size: 2.6em;
    line-height: 1;
    //padding: 6px 13px;
    padding: 6px 13px 6px 18px;
    border-radius: 20px 0px 0px 20px;
    //border-radius: 0;
    z-index: 999;
    white-space: nowrap;
	}
    &__quick-exit {
    	@include box-shadow-reverse;
    	display: none;
    	height: 39px;
    	// transform: translateX(-100%);
    	background-color:$yellow;
    	color: $black;
    	padding: 6px 18px 6px 18px;
    	border-left: 1px solid black;
    	align-items: center;
    	font-size: 1.6em;
    	text-decoration: underline;
    	span {margin-top: 1px;}
    }

}

.get-help-modal {
    width:100%;
    max-width: 100vw;
    &__title {
        font-family: 'fk-screamer', sans-serif;
        text-transform: uppercase;
        line-height: 1;
        font-size: 7.4em;
    }
    &__text {
        font-weight: bold;
    }
    &__content {
        padding: 2.5em;
        margin: 10px;
    }
    &__country-select {
        position:relative;
        select {
            padding-left: 67px;
        }
    }
    &__country-flag {
        position:absolute;
        margin-left: 10px;
        margin-top: -66px;
        pointer-events: none;
        img {
            width:40%;
        }
    }
    &__line {
        height:1px;
        background-color: $black;
        width:calc(100% + 6em);
        margin-left: -3.4em;
        margin-top: 2em;
    }
    &__contact {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        margin-bottom: 35px;
    }
    &__number, &__email {
        text-decoration: underline;
    }

    &__number {
        font-family: fk-screamer, sans-serif;
        font-size: 2.8em;
    }
    &__or {
        margin-left: 10px
    }
}

// mobile medium
///////////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.get-help-modal {
    &__number {
        font-size: 3em;
    }
    &__email {
        font-size: 1.5em;
    }
}


}


// Tablet
///////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.get-help{
    bottom: 42px;
	&__help-button {
		transform:translate(-100%, 0);
	}
    &__quick-exit {
    	display: flex;
    }
}

.get-help-modal {
    &__number {
        font-size: 3.8em;
    }
    &__email {
        font-size: 1.8em;
    }
    &__country-flag {
        margin-left: 14px;
        margin-top: -73px;
    }
}

}