/*
*
* _GET-INVOLVED.SCSS
*
*/

// thin 280
///////////////////////////////////////////////////////////////////////////
.get-involved {
	background-color: $light-grey; 
	grid-column: col1 / col12-end;
	&__text {
		padding: 3em;
	}
	&__heading {
		font-size: 3.6em;
		line-height: 1.3;
		max-width: 80%;
		margin-bottom: 0.7em;
		margin-top: -0.1em;
	}
	&__grid {
		display:flex;
		flex-direction: column;
		position:relative;
	}
	&__guardian-logo {
		position:absolute;
		top:10%;
		left:4%;
		width:12em;
	}
	&__item {
	 	height:0;
		background-size: cover;
		background-repeat: no-repeat;
		position:relative;
		width:100%;
	  	padding-top:60%;
	  	.button {position:absolute;}
	  	//items
	  	&--a {	
			order: 2;
			.button {
				top:50%; 
				right:5%;
				left:auto;
			}
		}
		&--b {
			display:none;
			svg {
				height: auto !important;
				width:100% !important;
			}
		}
		&--c {	
			order: 3;
			.button {
				top:50%; 
				left:4%;
			}
		}
		&--d {	
			order: 1;
			.button {
				top:50%; 
				left:4%;
			}
		}
	
	} //__item
	&__more-button {
		position: absolute;
		bottom:0px;
		left:50%;
		transform: translate(-50%, 100%);
		border-radius: 0px 0px 27px 27px;
		min-width:0;
	}
}



// mobile medium
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileMedium) {

.get-involved {
	&__text {padding: 4em;}
	&__heading {font-size: 4em;}
	&__guardian-logo {
		top:12%;
		left:6%;
		width:13em;
	}
	&__item {
  	padding-top:60%;
  		//items
	  	&--a .button {
			top:auto; 
			bottom:12%;
			right:7%;
			left:auto;
		}
		&--c .button {
			top:auto;
			bottom:12%; 
			left:7%;
		}
		&--d .button {
			top:auto;
			bottom:12%; 
			left:7%;
		}
	} //__item
}


}

// mobile medium
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileLarge) {

.get-involved {
	&__guardian-logo {
		top:12%;
		left:8%;
		width:15em;
	}
}


}


// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.get-involved {
	&__text {padding: 7em 10em;}
	&__heading {
		font-size: 4em;
		max-width: 100%;
	}
	&__desc {
		font-size: 1.8em;
	}
	&__guardian-logo {
		top:12%;
		left:6%;
		width:24em;
	}
	&__item {
  	padding-top:43%;
  		//items
	  	&--a .button {
			top:auto; 
			bottom:12%;
			right:7%;
			left:auto;
		}
		&--c .button {
			top:auto;
			bottom:12%; 
			left:7%;
		}
		&--d .button {
			top:auto;
			bottom:12%; 
			left:7%;
		}
	} //__item
}

}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {



.get-involved {
	grid-column: col2 / col12;
	margin-bottom: 8.3vw; 
	&__text {
		padding-right: 0;
		padding-left: 0;
		text-align: center;
		max-width: 75%;
		margin: 0 auto;
	}
	&__grid {
		display:grid;
		width:auto;
		margin-left: 0;
		margin-right: 0;
	  	grid-gap:0px;
	  	grid-template-columns: repeat(4, 1fr);
	}
	&__guardian-logo {
	    top: 6%;
	    left: 6%;
	    width: 15em;
	}
	&__item {
		//items
		&--a {
		  	grid-area: 1 / 1 / 2 / 3;
		 	padding-top:50%;
		 	 	.button {
		 	 	//top: 46%;
		    	right: 6%;
		 	}
		}
		&--b {
			padding-top:0;
		  	grid-area: 2 / 1 / 3 / 2;
		  	min-height: 100%;
		  	max-height: 100%;
		  	display:block;
		  	background-color: #f2f2f2;
		}
		&--c {
		  	grid-area: 2 / 2 / 3 / 3;
		  	padding-top:calc(100% - 1px);
		  	background-position: top right;
		  		.button {
				left: 50%;
    			transform: translateX(-50%);
				z-index: 1;
				white-space: nowrap;
			}
		}
		&--d {
		  	grid-area: 1 / 3 / 5 / 5;
		  	padding-top:100%;
		  	background-position: top left 40%;
		  	  .button {
			    left: 6%;
				bottom: auto;
				top: 25%;
			}
		}
	} //item
	&__more-button {
		position: absolute;
		bottom:3em;
		left:auto;
		right:0;
		transform: translate(0%, 0%);
		border-radius: 77px 0px 0px 77px;
		min-width:0;
		box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.26);
		-webkit-box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.26);
		text-align: right;
		padding-right: 2em;
	}
}


}


// desktopLarge
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopLarge) {

.get-involved {
	&__guardian-logo {
	    width: 20em;
	}
	&__text {
		text-align: center;
		max-width: 80em;
		margin: 0 auto;
		padding-top: 12em;
		padding-bottom: 12em;
	}
	&__heading {
		font-size: 6.2em;
	}
	&__desc {
		font-size: 2.2em;
	}
}


}

// extra wide
///////////////////////////////////////////////////////////////////////////
@include mq($from: extraWide) {

.get-involved {
	grid-column: col3 / col11;
}

}

