/*
*
* _HEADER.SCSS
*
*/

// thin 280
///////////////////////////////////////////////////////////////////////////

.header {
	padding:15px 10px;
	z-index: $z-header;
	position: fixed;
	top:0;
	width:100%;
	max-width: 2560px;
	margin: 0 auto;
	background-color: $white;
	@include box-shadow;
	min-height: 0;
	transition: all 0.4s ease;
}

.header--open {
	min-height: 100vh;
}

.header__inner {
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {width:43vw;}

.header__navigation {
	display: flex;
	align-items: center;
}

.header__burger {
	padding: 12px 19px 8px 13px;
	border-radius: 0 77px 77px 0;
	background-color: $light-grey;
	@include box-shadow;
}

@keyframes headerSlideUp {
  	from {transform: translateY(0);}
  	to {transform: translateY(-92px);}
}

@keyframes headerSlideDown {
  	from {transform: translateY(-92px);}
  	to {transform: translateY(0px);}
}

.header--slideDown {
	animation-name: headerSlideDown;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.header--slideUp {
	animation-name: headerSlideUp;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

// mobile
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: mobile) {

.header__logo {width:46vw;}

}


// mobile medium
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.header {padding:20px;}

.header__logo {
	width:185px;
	margin-top: -2px;
}

}

// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.header__burger {
	box-shadow:none;
	background-color:transparent;
}

.header__logo {
	width:235px;
	margin-left:10px;
}

}