/*
*
* _HEADER.SCSS
*
*/

// thin 
///////////////////////////////////////////////////////////////////////////

.header {
	padding:0.8em;
	z-index: $z-header;
	position: fixed;
	top:0;
	width:100%;
	//max-width: 1920px;
	left:0;
	margin: 0 auto;
	background-color: $white;
	@include box-shadow;
	min-height: 0;
	transition: all 0.4s ease;

	&--slideDown {
		animation-name: headerSlideDown;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
	}

	&--slideUp {
		animation-name: headerSlideUp;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
	}

	&__inner {
		display:flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {width:43vw;}

	&__navigation {
		display: flex;
		align-items: center;
	}

	&__burger {
		padding: 1.2em 1.9em 1em 1.3em;
		border-radius: 0 77px 77px 0;
		background-color: $light-grey;
		@include box-shadow;
	}
}


@keyframes headerSlideUp {
  	from {transform: translateY(0);}
  	to {transform: translateY(-110px);}
}

@keyframes headerSlideDown {
  	from {transform: translateY(-110px);}
  	to {transform: translateY(0px);}
}


// mobile
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: mobile) {

.header {
	padding:0.8em 1.2em 1em 0.8em;

	&__logo {width:48vw;}
}

}


// mobile medium
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.header{
	&__logo {width:195px;}
}

}

// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.header{
	padding:1em;
	&__burger {
		box-shadow:none;
		background-color:transparent;
	}
	&__logo {
		width:235px;
	}
}

}

// desktop
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.header{
	padding:1.2em;
	&__burger {
		box-shadow:none;
		background-color:transparent;
	}
	&__logo {
		width:255px;
	}
}


}






