/*
*
* _HEADER.SCSS
*
*/


.header {
	width:100%;
	padding:20px;
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
	background: rgb(0,0,0);
	color:white;
	background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0) 100%);
	&::before {display:none;}
	&::after {display:none;}
}

.header__branding {
	width:40px;
	height:40px;
}

.header__title {
	font-size: 14px;
	letter-spacing: 2px;
}