/*
*
* _HERO.SCSS
*
*/

// thin 280
///////////////////////////////////////////////////////////////////////////

.hero {
	width:100%;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
}

.hero--home {
	background-position:top -20vw left -70vw;
	background-size:330%;
}

.hero--home .hero__inner {padding:30px;}

.hero--home .hero__content {
	background-color: $white;
	margin-top:35vh;
	grid-column: 1 / span 12;
	position:relative;
}

.hero__sub-header{
	color: $red;
	letter-spacing: 1.5px;
	font-size: 16px;
	margin:-3px 0 0 0;
}

.hero__header {
	line-height: 0.8;
	color:$black;
	margin:20px 0 0 0;
}

.hero--home .hero__header {font-size:29vw;}

.hero--home .hero__body-text {
	margin-top: 28px;
	margin-bottom: 10px;
}

.hero--home .hero__button {
	position:absolute;
	top:12%;
	right:-12%;
	transform: rotate(-4deg)scale(0.8);
}

// mobile 320
///////////////////////////////////////////////////////////////////////////


@include mq($from: mobile) {

.hero--home {background-position:top -20vw left -50vw;}

.hero--home .hero__button {
	top: 21vw;
    right: auto;
    left: 28vw;
}

}

// mobile medium
///////////////////////////////////////////////////////////////////////////


@include mq($from: mobileMedium) {

.hero--home .hero__inner {padding:40px;}

.hero--home .hero__button {
	transform: rotate(-4deg) scale(1.0);
	right: auto;
	top:22vw;
	left:36vw;
}

}

// mobile large
///////////////////////////////////////////////////////////////////////////


@include mq($from: mobileLarge) {

.hero--home {
	background-position:top -10vw left -28vw;
	background-size:250%; 	
}

.hero--home .hero__header {font-size:140px;}

.hero--home .hero__button {
	right: auto;
	top:100px;
	left:170px;
}


}



// phablet
///////////////////////////////////////////////////////////////////////////


@include mq($from: phablet) {

.hero--home {
	background-size:cover;
	background-position:top left -19vw;
	max-height: 90vw;
	height:auto;
}

.hero--home .hero__content {
	margin-top:0;
	grid-column: 6 / span 6;
}

.hero--home .hero__inner {padding:30px;}

.hero--home .hero__header {font-size:14vw;}

.hero--home .hero__button {
	top:10vw;
	left:13.5vw;
	transform: rotate(-4deg) scale(0.8);
}

}

// tablet
///////////////////////////////////////////////////////////////////////////


@include mq($from: tablet) {

.hero--home .hero__inner {padding:45px;}

.hero--home .hero__button {
	top:11vw;
	left:17.3vw;
	transform: rotate(-4deg) scale(0.9);
}

}

// desktop
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.hero__sub-header{font-size: 18px;}

.hero--home {
	background-position:center;
}

.hero--home .hero__content {
	grid-column: 7 / span 6;
	opacity: 0;
}

.hero--home .hero__header {font-size:12vw;}

.hero--home .hero__button {
	top:9vw;
	left:15vw;
	transform: rotate(-4deg) scale(1.0);
}

}

// desktopLarge
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.hero--home .hero__content {grid-column: 7 / span 5;}

.hero--home .hero__inner {padding:60px;}

.hero--home .hero__header {font-size:130px;}

.hero--home .hero__button {
	top:108px;
	left:174px;
}

}


// desktopXLarge
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopXLarge) {


.hero__sub-header{font-size: 21px;}

.hero--home .hero__header {font-size:10.4vw;}

.hero--home .hero__inner {padding:70px;}

.hero--home .hero__body-text {max-width:80%;}

.hero--home .hero__button {
	top:9vw;
	left:16vw;
	transform: rotate(-4deg) scale(1.2);
}


}

// wide
///////////////////////////////////////////////////////////////////////////

@include mq($from: wide) {

.hero--home .hero__inner {padding:4vw 3.5vw 3.5vw 4vw;}

.hero--home .hero__content {
	grid-column: 8 / span 4; 
	min-height:90vh;
}

.hero--home .hero__header {font-size:9vw;}

.hero__sub-header{font-size: 1.2vw;}

.hero--home .hero__button {
	top:8vw;
	left:14vw;
	transform: rotate(-4deg) scale(1.4);
}



}

// extraWide
///////////////////////////////////////////////////////////////////////////

@include mq($from: extraWide) {

.hero--home .hero__inner {padding:100px 90px 90px 100px;}

.hero--home .hero__header {font-size:230.4px;}

.hero--home .hero__button {
	top: 220px;
    left: 360px;
}

}
