/*
*
* _HERO.SCSS
*
*/


.hero-full {
	grid-column: col1 / col12-end;
	margin-bottom: 40px;
	&__img {
		width:100%;
		min-height: calc(100vh - 64.02px);
		background-size: auto 120%;
		background-position: bottom center;
	}
	&__content {
		grid-column: col2 / col12;
		margin-top: 8.6vw;
	}
	&__sub-grid {
		position:absolute;
		bottom:0;
		left:0;
		height:auto;
	}
	&__content {
		color: white;
		margin-top: 0;
	}
	&__title {
		font-size: 7em;
		line-height: 1;
		margin-bottom: 0;
	}
	&__subtitle {
		margin-bottom: 1em;
	}
	&__line {
		height:40px;
		width:1px;
		background-color: white;
		margin-left: 25px;
    	margin-top: 25px;
	}
}

// mobileMedium
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileMedium) {

.hero-full {
	&__title {
		font-size: 7.7em;
	}
}


}

// mobileLarge
///////////////////////////////////////////////////////////////////////////
@include mq($from: mobileLarge) {

.hero-full {
	&__img {
		min-height: 35em;
		background-size: cover;
	}	
}

}

// tablet
///////////////////////////////////////////////////////////////////////////
@include mq($from: tablet) {

.hero-full {
	position: relative;
	&__img {
		min-height: 65em;
	}

	&__content {
		color: white;
		text-align: center;
		grid-column: col3 / col11;
		margin-top: 0;
		margin-bottom: 7em;
		.line {display: none;}
	}
	
}

}

// desktop
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktop) {

.hero-full {
	&__img {
		min-height: 85vh;
		background-position: 50% 50%;
	}
	&__content {
		grid-column: col4 / col10;
		margin-bottom: 10em;
	}
	
}

}

// desktop xl
///////////////////////////////////////////////////////////////////////////
@include mq($from: desktopExtraLarge) {

.hero-full {
	&__img {
		background-position: 50% 50%;
	}
	&__content {
		grid-column: col5 / col9;
	}
	
}

}






