/*
*
* _HERO-SPLIT.SCSS
*
*/

// thin 
///////////////////////////////////////////////////////////////////////////

.hero-split {
	grid-column: col1 / col12-end;
	&__img {
		width: 100%;
		min-height: 20em;
		background-size: 150%;
		background-position: top right 2%; 
		//^position of homepage img^
		&--bottom-center {
			background-position: bottom center;
		}
		&--center-center {
			background-position: center center;
		}
		&--top-center {
			background-position: top center;
		}
		&--cover {
			background-size: cover;
		}
		&--taller {
			min-height: 25em;
		}
	}
	&__content {
		width:100%;
		background-color: $white;
		padding:3em;
		&--grey {background-color: $light-grey;}
		&--dark {
			background-color: $black;
			color: white;
		}
	}
	&__desc:last-of-type {
		margin-bottom: 2em;
	}
}

// mobile medium 
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

.hero-split {
	&__content {
		padding:4em;
	}
	&__desc {
		//font-size: 1.8em;
	}
}

}


// mobile large 
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileLarge) {

.hero-split {
	&__img {
		min-height: 30em;
	}
}


}

// tablet 
///////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.hero-split {
	&__img {
		min-height: 45em;
	}
	&__content {
		padding:6.7em 12em;
		text-align: center;
	}
	&__desc {
		//margin-bottom: 2.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 50em;
		&--thinner {
			max-width: 42em;
		}
	}
	&__desc:last-of-type {
		margin-bottom: 2.5em;
	}
}

}

// desktop 
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.hero-split {
	display: flex;
	&__img {
		min-height: calc(100vh - 100px);
		background-size: cover;
		width:50%;
	}
	&__content {
		padding:6em;
		width:50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__content-inner {
		margin-top: -4em;
	}
	&__desc {
		padding: 0 1em;
	}
	&--reverse {
		flex-direction: row-reverse;
	}
}

}

// desktop large
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.hero-split {
	&__smaller-main-heading {
		max-width:80%;
		margin:0 auto 1.5em;
	}
}

}


// desktop large
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopExtraLarge) {

}

// wide
///////////////////////////////////////////////////////////////////////////

@include mq($from: wide) {



}

// // extra wide
// ///////////////////////////////////////////////////////////////////////////

@include mq($from: extraWide) {

.hero-split {
	&__img {
		min-height: 90em;
	}
}

}
