/*
*
* _IMAGE-AND-TEXT.SCSS
*
*/


.image-and-text {
	grid-column: col1/col12-end;
	padding:3em;
	&__line {
		width:50%;
		height: 2px;
		background-color: $red;
		margin-bottom:2em;
		display: none;
		&--bottom {
			margin-top: 2em;
			display: block;
		}
	}
	&__image {
		text-align: center;
		img {
			margin-bottom: 4em;
			width:80%;
			max-width: 30em;
		}
	}
	&__text {

	}
}

// mobile medium 
///////////////////////////////////////////////////////////////////////////

@include mq($from: mobileMedium) {

	.image-and-text {
		padding:4em;
	}

}


// phablet
///////////////////////////////////////////////////////////////////////////


@include mq($from: tablet) {

	.image-and-text {
		padding:5em 0;
		grid-column: col2/col12;
		&__image {
			img {
				margin-bottom: 5em;
			}
		}
	}


}


// desktop
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

	.image-and-text {
		display: flex;
		align-items:center;
		&__image{
			flex: 1;
			padding-right:5em;
			img {
				margin: 0;
				max-width: 400px;
			}
		}
		&__text {
			flex:0 0 50%;
			p {
				font-size: 2.2em;
			}
		}
	}

}


// desktop
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

	.image-and-text {
		padding:10em 0;
	}
}

