/*
*  
* $_LINE.SCSS
*
*/

.line {
	width:100%;
	height: 1px;
	background-color: $lines;
	margin: 3em 0;
	&--double-margin-bottom {
		margin-bottom: 4em;
	}
	&--white {
		background-color: white;
	}
	&--title {
		width:20%;
	}
	&--full {
		grid-column: col2/col12;
	}
}