/*
*
* _MENU.SCSS
*
*/

.menu {
	display:none;
	width:100%;
	padding-top: 2em;
	margin-top: 1em;
	height: calc(100vh - 80px);
	overflow-y: scroll;
	/* no scrollbar */
	scrollbar-width: none; /* Firefox */
  	-ms-overflow-style: none;  /* IE 10+ */
	&::-webkit-scrollbar { /* WebKit */
	  width: 0px;
	}

	&__inner {
		width:100%;
	}

	&__primary {
		font-family: fk-screamer;
		text-transform: uppercase;
		margin: 0;
		list-style: none;
		padding: 0 2em 2em 2em;
		line-height: 1.3;
		a {color: $black;}
		ul {margin:0; padding:0;}
		li {
			border-bottom: 1px solid $lines;
			font-size: 3.8em;
			list-style: none;
		}
	}

	&__secondary {
		margin: 0;
		margin-bottom: 1.5em;
		list-style: none;
		padding: 0 2em 2em 2em;
		line-height: 1.3;
		a {color: $black;}
		ul {margin:0; padding:0;}
		li {
			list-style: none;
			padding-top: 1em;
			font-size: 1.6em;
		}
	}
	&__line{
		height: 1px;
		background-color:$lines;
		width: 100%;
		margin-bottom: 3em;
	}
	&__footer {
		position: relative;
		width:100%;
		margin-top: .5em;
		margin-bottom: 4em;
		padding: 0 2em 2em 2em;
	}
	&__button {
		display: flex;
		width:100%;
		justify-content: center;
		margin-bottom: 3em;
	}
}











// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.menu {
	&__inner {
		width:100%;
		display: flex;
		flex-wrap: wrap;
		padding: 5em;
	}
	&__secondary {
		padding: 0 0 0 8em;
	}
	&__primary {
		padding:0;
		//line-height: 1.3;
		li {
			font-size: 6em;
		}
	}
	&__footer {display: block;}
	}

}

// desktop
//////////////////////////////////////////////////////////////////////////////////

// @include mq($from: desktop) {

// .menu__inner {
// 	max-width: 1300px;
// 	margin: auto;
// }

// }

// desktopLarge
//////////////////////////////////////////////////////////////////////////////////
// @include mq($from: desktopLarge) {

// .menu__primary {font-size: 48px;}

// .menu__secondary {
// 	font-size: 20px;
// 	li {
// 		padding-top: 20px;
// 	}
// }

// }

// desktopXLarge
//////////////////////////////////////////////////////////////////////////////////
// @include mq($from: desktopXLarge) {

// .menu__inner {width: calc(100% - 250px);}

// }

// wide
//////////////////////////////////////////////////////////////////////////////////
// @include mq($from: wide) {

// .menu__primary {font-size: 58px;}

// .menu__footer {margin-top: 80px;}

// }


// wide
//////////////////////////////////////////////////////////////////////////////////
// @include mq($from: extraWide) {

// .menu__inner {max-width: 1600px; }
// .menu__primary {font-size: 68px;}
// .menu {margin-top: 100px;}

// }





