/*
*
* _MENU.SCSS
*
*/

.menu {
	display:none;
	width:100%;
	margin-top: 2em;
	height: calc(100vh - 80px);
	overflow-y: scroll;
	/* no scrollbar */
	scrollbar-width: none; /* Firefox */
  	-ms-overflow-style: none;  /* IE 10+ */
	&::-webkit-scrollbar { /* WebKit */
	  width: 0px;
	}

	&__inner {
		width:100%;
	}

	&__primary {
		font-family: fk-screamer;
		text-transform: uppercase;
		font-size: 3.6em;
		margin: 0;
		list-style: none;
		padding: 0 2em 2em 2em;
		a {color: $black;}
		li {
			border-bottom: 1px solid #CBCBCB;
		}
	}

	&__secondary {
		margin: 0;
		margin-bottom: 10em;
		list-style: none;
		padding: 0 2em 2em 2em;
		a {color: $black;}
		li {
			padding-top: 1em;
		}
	}
	&__footer {
		position: relative;
		width:100%;
		border-top: 1px solid $black;
		margin-top: .5em;
		margin-bottom: 20em;
		padding-top: 3em;
	}
	&__button {
		display: flex;
		width:100%;
		justify-content: center;
	}
}











// tablet
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.menu__inner {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
}

.menu__secondary {
	padding: 0 0 0 8em;
}

.menu__primary {
	padding:0;
}

.menu__footer {display: block;}

}

// desktop
//////////////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.menu__inner {
	max-width: 1300px;
	margin: auto;
}

}

// desktopLarge
//////////////////////////////////////////////////////////////////////////////////
@include mq($from: desktopLarge) {

.menu__primary {font-size: 48px;}

.menu__secondary {
	font-size: 20px;
	li {
		padding-top: 20px;
	}
}

}

// desktopXLarge
//////////////////////////////////////////////////////////////////////////////////
@include mq($from: desktopXLarge) {

.menu__inner {width: calc(100% - 250px);}

}

// wide
//////////////////////////////////////////////////////////////////////////////////
@include mq($from: wide) {

.menu__primary {font-size: 58px;}

.menu__footer {margin-top: 80px;}

}


// wide
//////////////////////////////////////////////////////////////////////////////////
@include mq($from: extraWide) {

.menu__inner {max-width: 1600px; }
.menu__primary {font-size: 68px;}
.menu {margin-top: 100px;}

}





