/*
*
* _MODAL.SCSS
*
*/

// thin 
///////////////////////////////////////////////////////////////////////////

.modal {
	background-color: rgba(0, 0, 0, 0.2);
	&__dialog {
		margin:auto;
		//overflow: hidden;
		position: absolute;
		top:0;
		left:50%;
		transform: translate(-50%, 0%);
		width:100%;
		max-width: 53em;
	}
	&__content {
		padding:35px;
		padding-top:40px;
		background-color:#f2f2f2;
		border-radius: 20px;
		position:relative;
		&--video{
			height:0;
			padding-bottom: 56.25%;
			background-color: transparent;
			.video {
			    height: 100%;
			    width: 100%;
			    position: absolute;
			    top:0;
			    left:0;
			    background-color: #000;
			}
		}
		&--payment {
			background-color: transparent;
			padding: 0;
			border-radius: 0;
		}
		&--yellow {background-color: $yellow;}
	}
	&__title{
		// set default here
		// currently not needed
		&--splash {
			font-size: 6em;
			line-height: 0.9;
		}
	}
	&__text {
		// set default here 
		// currently not needed
		&--splash {
			margin-bottom: 2em;
		}
	}
	&__close {
	// width:50px;
	// height: 50px;
	// text-align: center;
	//padding: 1em;
	color:$black; 
    position: absolute;
    top: 0.3em;
    right: 0.7em;
    font-size: 3em;
    background-color: #f2f2f2;
    
	    &--yellow {background-color: $yellow;}
		
		&:hover {cursor: pointer;}
		
		&--video {
		    border-radius: 100%;
		    width: 1.5em;
		    height: 1.5em;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    top:0;
		    right:0;
		    transform: translate(-50%, -150%);
		}
		&--payment {
			background-color: transparent;
		}

	} //.close

}

.get-help-modal {
	min-height: 100vh;
	.modal__close {
		border-radius: 100%;
	    width: 1.5em;
	    height: 1.5em;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    top: 20px;
	    right: 20px;
	    left:auto;
	    margin-left:auto;
	    position:sticky;
	    z-index: 1;
	}
	.modal__dialog {
		top:0;
	}
	.get-help-modal__country-flag {
    	position: absolute;
    	margin-left: 14px;
    	margin-top: -73px;
    	pointer-events: none;
	}
	.get-help-modal__title {
		margin-bottom: 0.3em;
	}
	.get-help-modal__email {
		font-size: 1.8em;
	}
	.get-help-modal__number {
		font-size: 3.8em;
	}
	.get-help-modal__text {
		font-size: 1.8em;
		margin-bottom: 1.5em;
	}
}

// tablet
///////////////////////////////////////////////////////////////////////////

@include mq($from: tablet) {

.modal {
	&__dialog {

	}
	&__content {
		&--splash {
			padding:5.5em;
		}
	}
	&__title{
		&--splash {
			font-size: 8em;
			line-height: 0.9;
			margin-bottom: 0.4em;
		}
		&--country {
			font-size: 3em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}
	&__text {
		&--splash {
			margin-bottom: 2em;
		}
	}

}

.get-help-modal {
	.modal__dialog {
		left:auto;
		right:0;
		transform: translate(0,0);
	}
	.modal__content {
		margin: 0;
		border-radius: 0;
	}

}


}


// desktop
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktop) {

.modal {
	&__dialog {
		top:10em;
		left:50%;
		transform: translate(-50%, 0);
		&--video {
			width: 60%;
			max-width: 1500px;
		}
	}
	&__close {
		&--video {
			transform: translate(120%, -120%);
		}
	}
}

}


