/*
*
* _MODAL.SCSS
*
*/

//default modal for little messages
.modal {
	background-color: rgba(0, 0, 0, 0.2);
	&__dialog {
		margin:auto;
		//overflow: hidden;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width:100%;
	}
	&__content {
		padding:35px;
		padding-top:40px;
		background-color:#f2f2f2;
		border-radius: 20px;
		position:relative;
	}
	&__close {
	// width:50px;
	// height: 50px;
	// text-align: center;
	//padding: 1em;
	color:$black; 
    position: absolute;
    top: 0.3em;
    right: 0.7em;
    font-size: 3em;
	    &:hover {
	    	cursor: pointer;
	    }
	    // &::before {
	    // 	opacity: 0.5;
	    // 	font-size:12px;
	    // }
	}
}





@include mq($from: desktop) {

.modal {
	.modal__dialog {
		max-width: 53em;
		//min-height: calc(100vh - 200px);
	}
}

}


