/*
*
* _PEOPLE.SCSS
*
*/

.people {
	margin: 3em 0;
	grid-column: col2 / col12;
	text-align: center;
	&__title {
		line-height: 1;
		margin-bottom: 0.5em;
		&--double-margin {
			margin-bottom:1em;
		}
	}
	&__subtitle {
		margin-bottom: 2em;
	}
	&__grid {
		display:flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		max-width: 1000px; 
		margin: 0 auto;
	}
	&__person {
		padding:2em;
		max-width: 220px;
		text-align: center;
		position: relative;
		img {margin-bottom: 2.5em;
		}
	}
	&__linked-in {
		margin-bottom: 0;
		margin-bottom: 0;
    	position: absolute;
    	right: 0;
    	top: 48%;
    	transform: translateX(-84%);
		img {
			width:40px;
			margin-bottom: 0;
		}
	}
}

// desktopLarge
///////////////////////////////////////////////////////////////////////////

@include mq($from: desktopLarge) {

.people {
	margin: 8em 0;
	&__subtitle {
		margin-bottom: 4em;
	}
	&__person p {
		font-size: 1.8em;
	}
}

}