/*
*
* _REFERENCE.SCSS
*
*/

.reference__symbol {
	font-family: canela-medium;
	background-color: $yellow;
	border-radius: 100%;
	color:white;
	width:20px;
	height:20px;
	display: inline-block;
	text-align: center;
}