/*
*  
* $_WEGLOT.SCSS
*
*/



.weglot-hidden .country-selector.weglot-default {
	display: none;
}


.country-selector.weglot-dropdown .wgcurrent {
    border: 1px solid #FFC845;
}
.country-selector.weglot-dropdown .wgcurrent span {
    padding-right: 30px;
}
.country-selector.weglot-default {
    position: fixed;
    bottom: 0px;
    right: auto;
    background-color: #FFC845;
}

@media screen and (min-width:768px){
	.country-selector.weglot-default {
    	bottom: 42px;
	}
}