.grid-block {
    width: 100%;

    &__inner {
        grid-column: 1/13;
        padding: 0;
        width: 100%;

        &--row-space-small {
            grid-row-gap: clamp(12px, 3vw, 24px);
        }

        &--row-space-medium {
            grid-row-gap: clamp(24px, 5vw, 40px);
        }

        &--row-space-large {
            grid-row-gap: clamp(40px, 8vw, 80px);
        }


        .acf-innerblocks-container {
            display: contents;

            .wp-block-acf-grid-container {
                display: contents;
            }
        }
    }
}

.grid-container {
    display: flex;
    flex-direction: column;
    grid-column: span 12;

    &--align-center {
        justify-content: center;
    }

    &--align-end {
        justify-content: flex-end;
    }

    &--align-start {
        justify-content: flex-start;
    }

    .better-grid {
        display: block;
        padding: 0;
        width: auto;
        margin: 0;
    }

    .grid-block {
        display: grid;

        &__inner {
            display: grid;
        }
    }
}

@media screen and (max-width: 1366px) {
    .grid-container {
        //override inline padding
        padding: 0 !important;
    }

    .grid-block {
        .wp-block-group {
            background-color: transparent !important;
        }
    }
}

@media screen and (min-width: 1366px) {
    .grid-block {
        &__inner {
            grid-column: 1/13;

            &--indent {
                grid-column: 2/12;
            }
        }
    }

    .grid-container {
        &--span-1 {

            grid-column: span 1;
        }

        &--span-2 {
            grid-column: span 2;
        }

        &--span-3 {
            grid-column: span 3;
        }

        &--span-4 {
            grid-column: span 4;
        }

        &--span-5 {
            grid-column: span 5;
        }

        &--span-6 {

            grid-column: span 6;
        }

        &--span-7 {
            grid-column: span 7;
        }

        &--span-8 {
            grid-column: span 8;
        }

        &--span-9 {
            grid-column: span 9;
        }

        &--span-10 {
            grid-column: span 10;
        }

        &--span-11 {
            grid-column: span 11;
        }

        &--span-12 {
            grid-column: span 12;
        }
    }
}